body {
    min-height: 100vh;

    background-image: url("images/bg-desa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: system-ui, -apple-system, "Segoe UI",
                 Roboto, "Helvetica Neue", Arial, sans-serif;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
}

.section-bottom {
    margin-top: 80px;
}

